<!DOCTYPE html>
<html>
<head>
  <base href="#" />
  <title>Appexon ED</title>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> -->


  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">



  <link rel="stylesheet" href="static/css/styles.css">
<link rel="stylesheet" href="styles.css"></head>
<body>
  <app>Loading...</app>
  <input type="hidden" name="csrf_token" id="csrf_token" value="" />
<script type="text/javascript" src="static/js/runtime.js"></script>
<script type="text/javascript" src="static/js/polyfills.js"></script>
<script type="text/javascript" src="static/js/scripts.js"></script>
<script type="text/javascript" src="static/js/main.js"></script></body>
</html>
